
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>This is for JavaScript</title>
</head>
<body>
<p id="test">Hello</p>
  
</body>
</html>

<script src="~/js/consoleLogger.js"></script>
